<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <p>Please choose a name for this club.</p>
        <label>Club Name:
            <input class="form-control" th:field="${createClubFormDTO.displayName}">
        </label>
        <p class="error" th:errors="${createClubFormDTO.displayName}"></p>
    </div>

    <div class="form-group">
        <p>Please choose a password for making administrative changes to the club.</p>
        <label>Password:
            <input class="form-control" th:field="${createClubFormDTO.password}" type="password" />
        </label>
        <p class="error" th:errors="${createClubFormDTO.password}"></p>
    </div>

    <div class="form-group">
        <label>Verify password:
            <input class="form-control" th:field="${createClubFormDTO.verifyPassword}" type="password" />
        </label>
    </div>

    <div class="form-group">
        <p>Please choose the first book for this club.</p>
        <label>Active Book:
            <input th:field="${createClubFormDTO.activeBook}" class="form-control">
        </label>
        <!--        <p class="error" th:errors="${event.eventDetails.description}"></p>-->
    </div>


    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>