<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>

<h3>Describe this new book club in the spaces below. </h3>
<br>
<form method="post">
    <table >
        <tr class="table-create-club">
            <td style="width:250px">
                <div class="form-group">
                    <label>Club Name:
                        <input class="form-control" th:field="${createClubFormDTO.displayName}" size="20">
                    </label>
                    <p class="error" th:errors="${createClubFormDTO.displayName}"></p>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label>Password (administrative):
                        <input class="form-control" th:field="${createClubFormDTO.password}" type="password" size="20"/>
                    </label>
                    <p class="error" th:errors="${createClubFormDTO.password}"></p>
                </div>
            </td>
        </tr>
        <tr class="table-create-club">
            <td>
                <div class="form-group">
                    <label>First Book:
                        <input th:field="${createClubFormDTO.activeBook}" class="form-control" size="20">
                        <p class="error" th:errors="${createClubFormDTO.activeBook}"></p>
                    </label>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label>Verify password:
                        <input class="form-control" th:field="${createClubFormDTO.verifyPassword}" type="password"  size="20"/>
                        <p class="error" th:errors="${createClubFormDTO.verifyPassword}"></p>
                    </label>
                </div>
            </td>
        </tr>
        <tr class="table-create-club">
            <td colspan="2">
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" th:field="${createClubFormDTO.description}" class="form-control">
                    </textarea>
                        <p class="error" th:errors="${createClubFormDTO.description}"></p>

                </div>
            </td>
        </tr>

    </table>
<br>
    <div class="form-group">
        <input type="submit" value="Create Club" class="btn btn-success">
    </div>
</form>
<br>
<p class="text-center">
    <small>
        “Learn from yesterday, live for today, hope for tomorrow. The important thing is not to stop questioning.” - Albert Einstein
    </small>
</p>

</body>
</html>