<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>




<table class="table table-striped">

    <tr>
        <th>Name</th>
        <td th:text="${club.displayName}"></td>
    </tr>
    <tr>
        <th>Currently Reading</th>
        <td th:text="${club.activeBook}"></td>
    </tr>
    <tr>
        <th>Club Members</th>
        <td ><ul>
            <th:block th:each="member : ${club.members}">
                <li th:text="${member.displayName}"></li>
            </th:block>
        </ul>

        </td>
    </tr>
</table>


<p><a th:href="'/clubs/join?clubId=' + ${club.id}" >Click here to join</a></p>

</body>
</html>
