<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body>
<header th:replace="~{fragments :: header}"></header>

<table class="table table-striped" style="float:left; width:55%">

    <tr>
        <td colspan="2"> <h3 th:text="${'Club: ' + club.displayName}"></h3>
        <h5 th:text="${club.description}" style="font-style:italic"></h5></td>
    </tr>
    <tr>
        <th style="width:25%">Members</th>
        <td >
            <span th:if="${existingMember}">
                <ul>
                <th:block th:each="member : ${club.members}">
                    <li th:text="${member.displayName}"></li>
                </th:block>
                </ul>
                <a th:href="'/clubs/leave?clubId=' + ${club.id}" >Click here to leave</a>
            </span>

            <span th:unless="${existingMember}">
                <a th:href="'/clubs/join?clubId=' + ${club.id}" >Click here to join</a>
            </span>

        </td>
    </tr>
</table>


<table style="float:right; width:30%">
    <thead>
    <tr>


        <th  style="text-align:right"><h3><em>Currently Reading</em></h3></th>
    </tr>
    </thead>
    <tr>
        <td style="text-align:right">
            <div th:if="${#strings.isEmpty(club.activeBook.coverId)}">
                <img th:src="'https://i.imgur.com/VCMGiHY.png'" alt="No cover image available">
            </div>
            <img th:src="'https://covers.openlibrary.org/b/id/' + ${club.activeBook.coverId} + '-L.jpg'" alt="...">
            <p th:text="${club.activeBook.activeBook}"></p>
        </td>
    </tr>

    <tr>
        <td>
            <p>Set a new active book:</p>
            <form action="search.html" th:attr="action=@{/search}">
                <div class="input-group mb-3">
                    <input type="text" name="query" class="form-control" placeholder="Search for a title" aria-label="Search query" aria-describedby="button-addon2">
                    <input type="hidden" name="clubId" class="form-control" th:value="${club.id}" aria-label="Search query" aria-describedby="button-addon2">
                    <button type="submit" class="btn btn-outline-secondary" id="button-addon2">Search</button>
                </div>
            </form>
        </td>
    </tr>
</table>
<span th:if="${existingMember}">
<div style="clear:left">
    <table class="table table-striped" style="float:left; width:55%">
                <thead>
                <tr>
                    <th>Ongoing Discussion
                </tr>
                </thead>
                        <tr><td>
<!--fyi to my friends: the "@{~ ... }" removes the current resource context se we can link to a different resource within the server
    in this case, I want to link to blogs/create, which is NOT within the "clubs" resource (MH)-->
            <a th:href="@{'~/blog/create?clubId=' + ${club.id}}">
            Contribute to the conversation!
                                </a>
        </td></tr>

        <tr th:each="blog : ${blogs}">
            <td> <th:block>
                <div>
                    <h2 th:text="${blog.title}"></h2>
                    <p style="font-style:italic" th:text="${'(currently reading: ' + blog.bookContext + ')'}"></p>
                    <p th:text="${blog.content}"></p>
                    <p th:text="${'Posted by: ' + blog.member.displayName + ' on ' + blog.time}"></p>
                </div>
            </th:block>
            </td>
        </tr>

    </table>
</div>
</span>

<p style="clear:both" class="admin-changes-link">
    <small>
        <a th:href="${'/clubs/admin?clubId=' + club.id}">Update Club Info (admin password required)</a>
    </small>
</p>

</body>
</html>
