<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>




<table class="table table-striped">

    <tr>
        <th>Name</th>
        <td th:text="${club.displayName}"></td>
    </tr>
    <tr>
        <th>Currently Reading</th>
        <td th:text="${club.activeBook}"></td>
    </tr>
    <tr>
        <th>Club Members</th>
        <td >
            <span th:if="${existingMember}">
                <ul>
                <th:block th:each="member : ${club.members}">
                    <li th:text="${member.displayName}"></li>
                </th:block>
                </ul>
                <a th:href="'/clubs/leave?clubId=' + ${club.id}" >Click here to leave</a>
            </span>

            <span th:unless="${existingMember}">
                <a th:href="'/clubs/join?clubId=' + ${club.id}" >Click here to join</a>
            </span>

        </td>
    </tr>
</table>
<span th:if="${existingMember}">
<div>
    <table class="table table-striped">
                <thead>
                <tr>
                    <th>Ongoing Discussion
                </tr>
                </thead>

        <tr th:each="blog : ${blogs}">
            <td> <th:block>
                <div>
                    <h2 th:text="${blog.title}"></h2>
                    <p style="font-style:italic" th:text="${'(currently reading: ' + blog.bookContext + ')'}"></p>
                    <p th:text="${blog.content}"></p>
                    <p th:text="${'Posted by: ' + blog.member.displayName + ' on ' + blog.time}"></p>
                </div>
            </th:block>
            </td>
        </tr>
                <tr><td>
<!--fyi to my friends: the "@{~ ... }" removes the current resource context se we can link to a different resource within the server
    in this case, I want to link to blogs/create, which is NOT within the "clubs" resource (MH)-->
            <a th:href="@{'~/blog/create?clubId=' + ${club.id}}">
            Contribute to the conversation!
                                </a>
        </td></tr>
    </table>
</div>
</span>



</body>
</html>
