<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<div class="list-group">
    <th:block th:each="club : ${clubs}">
        <a th:href="'/clubs/detail?clubId=' + ${club.id}" th:text="${club.displayName}"
           class="list-group-item list-group-item-action clubIndex"></a>
        <div class="alert alert-light" role="alert" >
            <p > Currently reading: <u th:text="${club.activeBook}"></u></p>
        </div>


    </th:block>

</div>

</body>
</html>