<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body>
<header th:replace="~{fragments :: header}"></header>

<form method="post">

    <div class="form-group">
        <p>Please choose a new password for making administrative changes to the club.</p>
        <label>New password:
            <input class="form-control" th:field="${adminUpdatePasswordDTO.newPassword}" type="password" />
        </label>
        <p class="error" th:errors="${adminUpdatePasswordDTO.newPassword}"></p>
    </div>

    <div class="form-group">
        <label>Verify new password:
            <input class="form-control" th:field="${adminUpdatePasswordDTO.verifyNewPassword}" type="password" />
        </label>
    </div>

    <div class="form-group">
        <label>Old password:
            <input class="form-control" th:field="${adminUpdatePasswordDTO.oldPassword}" type="password">
        </label>
        <p class="error" th:errors="${adminUpdatePasswordDTO.oldPassword}"></p>

    </div>

    <div class="form-group">
        <input type="hidden" name="clubId" th:value="${clubId}">
        <input type="submit" value="Save Changes" class="btn btn-success">
    </div>
</form>
<p th:if="${passwordUpdated}" class="text-success">Password updated</p>
</body>
</html>
