body {
  padding: 10px;
  font-size: 18px;
}

.error {
  color: red;
}

.homepage-login {
    background-color: #FFCBA4;
    padding: 18px;
}

.homepage-table {
    background-color: #E0FFFF;
    padding: 18px;
}

.admin-changes-link {
    text-align: right;
}