body {
  padding: 10px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

.error {
  color: red;
}

.clubIndex {
    background-color: #FFCBA4;
}

.homepage-login {
    background-color: #FFCBA4;
    padding: 18px;
    margin: 25px;
    border-radius: 10px;
}

.homepage-table {
    background-color: #E0FFFF;
    padding: 18px;
}


.nav-link {
  color: #A9A9A9;
  }

.admin-changes-link {
    text-align: right;
}

