<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>

<form method="post">
    <label>
                <p th:text="'posting onto discussion at ' + ${club.displayName}"> </p>
                <input type="hidden" name="clubId" th:value="${club.id}">
<!--        <select th:field="${blog.club}">-->
<!--            <option-->
<!--                    th:text="${club.displayName}"-->
<!--                    th:value="${club.id}">-->


<!--            </option>-->
<!--        </select>-->
    </label>
    <br/>
    <label>Post Title:
        <input type="text" th:field="${blog.title}">
        <p class="error" th:errors="${blog.title}"></p>
    </label>
    <br/>
    <label>What Book Are You Reading?
        <input type="text" th:field="${blog.bookContext}">
<!--        <span th:errors="${blog.bookContext}"></span>-->
    </label>
    <br/>
    <label>Add Content:
        <br/>
        <textarea th:field="${blog.content}" cols="50" rows="10"></textarea>
        <p class="error" th:errors="${blog.content}"></p>
    </label>
    <br/>
    <label>
        <p th:text="'submitted by ' + ${member.displayName}"> </p>
                    <input type="hidden" name="memberId" th:value="${member.id}">
<!--        <select th:field="${blog.member}">-->
<!--            <option th:text="${member.displayName}" th:value="${member.id}"></option>-->
<!--        </select>-->
    </label>
    <br/>
    <input type="submit" value="Post">
</form>

</body>
</html>
