<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<form method="post">
    <label>Club:
        <select th:field="${blog.club}">
            <option th:each="club:${clubs}" th:text="${club.displayName}" th:value="${club.id}"></option>
        </select>
    </label>

    <label>Post Title:
        <input type="text" th:field="${blog.title}">
        <span th:errors="${blog.title}"></span>
    </label>
    <br/>
    <label>What Book Are You Reading?
        <input type="text" th:field="${blog.bookContext}">
        <span th:errors="${blog.bookContext}"></span>
    </label>
    <br/>
    <label>Add Content:
        <br/>
        <textarea th:field="${blog.content}" cols="50" rows="10"></textarea>
        <span th:errors="${blog.content}"></span>
    </label>
    <br/>
<!--    note for all
this is not my fave way to do this; i want to pass the current member info without having to declare it in the form
however this way works for now until i figure that out-->
    <label>submitted by:
        <select th:field="${blog.member}">
            <option th:text="${member.displayName}" th:value="${member.id}"></option>
        </select>
    </label>
    <br/>
    <input type="submit" value="Post">
</form>

</body>
</html>