<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Next Chapter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<nav th:fragment="header">
    <h1 th:text="${title}">Next Chapter</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/users">User Info</a></li>
        <LI class="nav-item"><a class="nav-link" href="/Memberprofile">Memberprofile</a></LI>
        <li class="nav-item"><a class="nav-link" href="/register">Create User</a></li>
        <li class="nav-item"><a class="nav-link" href="/clubs">Club Info</a></li>
        <li class="nav-item"><a class="nav-link" href="/clubs/create">Create Club</a></li>
        <li class="nav-item"><a class="nav-link" href="/blog">Blog Index</a></li>
        <li class="nav-item"><a class="nav-link" href="/blog/create">Create Blog Post</a></li>
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>

    </ul>
</nav>


</body>
</html>