<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<!--<h1 th:text="${title}">Page Title</h1>-->
<!--<ul class="nav">-->
<!--    <li class="nav-item"><a class="nav-link" href="/users">User Info</a></li>-->
<!--    <li class="nav-item"><a class="nav-link" href="/users/create">Create User</a></li>-->
<!--    <li class="nav-item"><a class="nav-link" href="/clubs">Club Info</a></li>-->
<!--    <li class="nav-item"><a class="nav-link" href="/clubs/create">Create Club</a></li>-->
<!--    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>-->

<!--</ul>-->
<header th:replace="fragments :: header"></header>

<p style="background-color: #FFCBA4; padding: 18px">"With the new day comes new strength and new thoughts." - Eleanor Roosevelt</p>

<div style="background-color: #E0FFFF; padding: 18px">
    <h3>Are you ready for your Next Chapter?</h3>
    <h5>Join a new book club today!</h5>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Club Name</th>
        <th>Currently Reading</th>
    </tr>
    </thead>
    <tr th:each="club : ${clubs}">
        <td> <a th:href="'/clubs/detail?eventId=' + ${club.id}" th:text="${club.displayName}"></a></td>
        <td th:text="${club.activeBook}">Current Book</td>
    </tr>
</table>
</div>

<hr>
<form method="post" style="background-color: #FFCBA4; padding: 18px">
    <div>
        <p>Returning to your Next Chapter? Log in here:</p>
        <label>User Name:
            <input type="text" name="userName">
        </label>
        <label>Password:
            <input type="password" name="password">
        </label>
        <input type="button" value="Log In" >
    </div>
</form>
<hr>


</body>
</html>
