<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<p class="homepage-login">"With the new day comes new strength and new thoughts." - Eleanor Roosevelt</p>

<div style="background-color: #E0FFFF; padding: 18px">
    <h3>Are you ready for your Next Chapter?</h3>
    <h5>Join a new book club today!</h5>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Club Name</th>
        <th>Currently Reading</th>
    </tr>
    </thead>
    <tr th:each="club : ${clubs}">
        <td> <a th:href="'/clubs/detail?eventId=' + ${club.id}" th:text="${club.displayName}"></a></td>
        <td th:text="${club.activeBook}">Current Book</td>
    </tr>
</table>
</div>

<hr>
<p>Returning to your Next Chapter? <a href="/login">Log in to your account</a></p>
<p>Ready to begin your Next Chapter? <a href="/register">Register for an account</a></p>
<hr>


</body>
</html>
