<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>

<header th:replace="~{fragments :: header}"></header>


<div >
    <div class=" homepage-welcome">
        <h4 class="card-title">Welcome!</h4>
        <div th:if="${member == null}">
            <p class="card-text"><a href="/login">Log in to your account</a></p>
            <p class="card-text"><a href="/register">Register for an account</a></p>
        </div>
    </div>
    <div class=" homepage-quote">
        <p  th:text="${quote + ' - ' + author}"></p>
    </div>
</div>

<div style="background-color: #E0FFFF; padding: 18px; margin: 25px; border-radius: 20px;clear:left">
    <h3>Are you ready for your Next Chapter?</h3>
    <h5>Join a new book club today!</h5>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Club Name</th>
        <th>Currently Reading</th>
    </tr>
    </thead>
    <tr th:each="club : ${clubs}">
        <td> <a th:href="'/clubs/detail?clubId=' + ${club.id}" th:text="${club.displayName}"></a></td>
        <td th:text="${club.activeBook}">Current Book</td>
    </tr>
</table>
</div>


<div>
    <p><small>Inspirational quotes provided by <a href="https://zenquotes.io/" target="_blank">ZenQuotes API</a></small></p>
</div>
</body>
</html>
