<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>

<form method="post" class="homepage-login">
    <div class="form-group">
        <p>Welcome back to your Next Chapter! Log in here:</p>
        <label th:for="email">Email:
            <input class="form-control" th:field="${loginFormDTO.email}">
        </label>
        <p class="error" th:errors="${loginFormDTO.email}"></p>
        </div>
    <div class="form-group">
        <label>Password:
            <input class="form-control" th:field="${loginFormDTO.password}" type="password">
        </label>
        <p class="error" th:errors="${loginFormDTO.password}"></p>

    </div>
    <input type="submit" class="btn btn-primary" value="Log In" >
</form>
<p>Don't have an account? <a href="/register">Register for one.</a></p>

</body>
</html>
