<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>


<form method="post">
<!--    <label>Club:-->
<!--        <select th:field="${club.id}">-->
<!--            <option th:each="club : ${clubs}"-->
<!--                    th:text="${club.displayName}"-->
<!--                    th:value="${club.id}">-->
<!--            </option>-->
<!--        </select>-->
<!--    </label>-->
<label>Set As Current Book:
    <li th:each="result : ${searchResults}">


        <label><img th:src="'https://covers.openlibrary.org/b/id/' + ${result.cover_i} + '-M.jpg'" alt="..."></label>
        <input type="radio" name="coverId" th:value="${result.cover_i}">
    </li>
    <input type="hidden" name="clubId" th:value="${clubId}">
</label>
<input type="submit" value="Choose This Cover">
</form>


<h5>Didn't find what you're looking for?
    <br>Try again with a different keyword, or consider including the author's name.</h5>
<div th:replace="fragments :: searchbar"></div>

</body>
</html>