<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<!--<form method="post">-->

<!--    <th:block th:each="event : ${events}">-->
<!--        <div class="form-group">-->
<!--            <label>-->
<!--                <span th:text="${event.name}"></span>-->
<!--                <input type="checkbox" name="eventIds" th:value="${event.id}" class="form-control">-->
<!--            </label>-->
<!--        </div>-->
<!--    </th:block>-->

<!--    <input type="submit" value="Delete" class="btn btn-danger">-->
<!--</form>-->
<!--<form method="post">-->
<!--    <div>-->
<!--        <label>Book Title: </label>-->
<!--        <input type="text" name="${query}" th:value="${query}">-->
<!--        <input type="submit" value="Search">-->
<!--    </div>-->
<!--</form>-->
<!--<div class="card-group">-->

<!--    <a th:href="'https://covers.openlibrary.org/b/id/' + ${result.cover_i} + '-L.jpg'">link</a>-->
    <div class="card" style="flex: 0 0 30%"  th:each="result : ${searchResults}">
        <img class="card-img-top" th:src="'https://covers.openlibrary.org/b/id/' + ${result.cover_i} + '-M.jpg'" alt="...">
        <div class="card-body">
            <h5 class="card-title" th:text="${result.title}">Book Title</h5>
            <p class="card-text" th:text="by + ${result.author_name}">Author Name</p>
            <a href="#" th:href="@{'/'}" class="btn btn-primary">Set This As Current Book (eventually)</a>
        </div>
    </div>
</div>
</body>
</html>