<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<header th:replace="~{fragments :: header}"></header>

<!--NOTE TO TEAM: I originally created this page as a place to stash the searchbar
while testing it out, but I ran into an inexplicable issue wherein this page would NOT load
no matter what I tried. I am keeping it here in the meantime simply to try and figure out
HOW that issue occurred. (MH)

otherwise this page will not need to exist, as the searchbar now lives in fragments and will be
hosted on the club administration page. (MH)-->

<div>
    <form action="search.html" th:attr="action=@{/search}">
        <div class="input-group mb-3">
            <input type="text" name="query" class="form-control" placeholder="Search for a title" aria-label="Search query" aria-describedby="button-addon2">
            <button type="submit" class="btn btn-outline-secondary" id="button-addon2">Search</button>
        </div>
    </form>
    hello
</div>
</body>
</html>