<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<header th:replace="~{fragments :: header}"></header>

<p>
<form method="post">

    <br>
    <div>
        <table>
            <thead>
<label>Cover Art to Display:
            </thead>
            <tr>

    <td style="padding:10px" th:each="result : ${searchResults}">


        <label><img th:src="'https://covers.openlibrary.org/b/id/' + ${result.cover_i} + '-M.jpg'" alt="..."></label>
        <p style="text-align:center"><input type="radio" name="coverId" th:value="${result.cover_i}"></p>
    </td>
            </br>
        </table>
    <input type="hidden" name="clubId" th:value="${clubId}">
</label>
    </div>
    <div>
        <label>How Would You Like Book Title Displayed?<br>
            <input type="text" th:name="activeBook" th:value="${query}">
        </label>
    </div>
    <div>
<input type="submit" value="Set As Active Book"> </div>
</form>
</p>
<p style="padding: 8px">
<h5>Didn't find what you're looking for?
    <br>Try again with a different keyword, or consider including the author's name.</h5>

<form action="search.html" th:attr="action=@{/search}">
    <div class="input-group mb-3">
        <input type="text" name="query" class="form-control" placeholder="Search for a title" aria-label="Search query" aria-describedby="button-addon2">
        <input type="hidden" name="clubId" th:value="${clubId}">
        <button type="submit" class="btn btn-outline-secondary" id="button-addon2">Search</button>
    </div>
</form>

</body>
</html>