<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<header>  <h1 th:text="${title}">Next Chapter</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/users">User Info</a></li>
        <li class="nav-item"><a class="nav-link" href="/users/create">Create User</a></li>
        <li class="nav-item"><a class="nav-link" href="/clubs">Club Info</a></li>
        <li class="nav-item"><a class="nav-link" href="/clubs/create">Create Club</a></li>
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>

    </ul>
    </nav>
</header>

"Hello"

</body>
</html>