<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<header>  <h1 th:text="${title}">Coding Events</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/user">User Info</a></li>
        <li class="nav-item"><a class="nav-link" href="/user/create">Create User</a></li>
    </ul>
    </nav>
</header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Contact Email</th>
        <th>Category</th>
    </tr>
    </thead>

</table>
</body>
</html>